* {
  box-sizing: border-box; 
}

.page-wrap {
  width: 70%;
  margin: 20px auto;
}

.main-story {
  position: relative;
  margin: 0 0 25px 0;
}

img {
  display: block; 
}

a {
  color: lightblue;
}

.story-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: white;
}

h1 {
   font-size: 4em;
}
h1, h2 {
  margin: 0 0 10px 0;
}

.story-intro h1 {
  font-size: 2.5em; 
}
.story-intro p {
  margin: 0;
}

.sub-stories {
  overflow: hidden;
  margin: 0 0 25px 0;
}

.sub-story {
  display: inline-block;
  width: 30%;
  min-width: 157px;
  margin-right: 4%;
  position: relative;
  font-size: 80%;
}

.last {
  margin-right: 0;
}

.main-story img {
  width: 100%;
  min-width: 425px;
}

.main-story .story-intro {
  min-width: 425px;
}

.sub-story img {
  width: 100%;
}