body {
  padding: 30px;
}
header {
  background: lightblue;
}
section {
  background: lightgreen;
  width: 72%;
  float: left;
  padding: 1%;
}
article {
  background: white;
  margin: 0 0 1rem 0;
}
aside {
  background: pink;
  width: 22%;
  float: right;
  padding: 1%;
}
header, article, section, .module {
  padding: 1rem;
}